# ----------------------------------------------------------------------
# hxholopyramid package
# ----------------------------------------------------------------------
module -name "Holo Pyramid" \
    -class "HxHoloPyramid" \
    -category "Display" \
    -package "hxholopyramid"

