# ----------------------------------------------------------------------
# hxholopyramid package
# ----------------------------------------------------------------------
module -name "Holo Pyramid" \
    -class "HxHoloPyramid" \
    -category "Display" \
    -package "hxholopyramid"

module -name "OIV Surface" \
    -primary "HxSurface" \
    -class "HxOIVDisplaySurface" \
    -category "Display" \
    -package "hxholopyramid"
