# ----------------------------------------------------------------------
# hxmorgan package
# ----------------------------------------------------------------------
module -name "Lorenz Attractor" \
    -class "HxLorenzAttractor" \
    -category "Morgan" \
    -package "hxmorgan"

module -name "GLSLVertexView" \
    -primary "HxVertexSet" \
    -class "HxGLSLVertexView" \
    -category "Morgan" \
    -package "hxmorgan"

module -name "ArithmeticJS" \
    -primary "HxUniformScalarField3" \
    -class "HxArithmeticJS" \
    -category "Morgan" \
    -package "hxmorgan"

module - name "Create Tiles" \
	- primary "HxUniformScalarField3" \
	- class "HxCreateTiles" \
	- category "Morgan" \
	- package "hxmorgan"
